{
    "root": true,
    "extends": "eslint:recommended",
    "globals": {},
    "env": {
      "es6": true,
      "mocha": true,
      "node": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "rules": {
      "one-var": "off",
      "max-len": ["error", {
        "code": 80,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }],
      "one-var-declaration-per-line": "error",
      "new-cap": "off",
      "consistent-return": "off",
      "no-param-reassign": "error",
      "comma-dangle": 0,
      "curly": ["error", "multi-line"],
      "no-shadow": ["error", { "allow": ["req", "res", "err"] }],
      "valid-jsdoc": ["error", {
        "requireReturn": true,
        "requireReturnType": true,
        "requireReturnDescription": true,
        "requireParamDescription": true
      }],
      "require-jsdoc": ["error", {
          "require": {
              "FunctionDeclaration": true,
              "MethodDefinition": true,
              "ClassDeclaration": true
          }
      }],
      "semi": "warn",
      "no-console": "warn",
      "no-unreachable": "error",
      "quotes": ["warn", "double"]
    }
  }
  